/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    box-sizing: border-box;
    color: #3c3b3b;
    font-size: 1em;
    line-height: 1.4;
  }
    *, *:before, *:after {
      box-sizing: inherit;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Alona's custom styles
   ========================================================================== */
    /* #3349ff blue color
       #be0000 red color
       font-family: 'Lato', sans-serif;*/

   html {
    margin: 0;
   }

   body {   
    overflow-x: hidden;
   	background-color: #fff;
   	font-family: 'Raleway', sans-serif;
  }


   .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

  
  }

   .masthead {
    grid-column: 1/3;
    grid-row: 1/3;
   }
      .masthead_mobile {
        display: none;
      }

   .logo {
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: 90px;
    z-index: 1;
   }
   
   header {
    position: absolute; 
    left: 0px;
    top: 0px; 
    z-index: 0;
   }

   header nav a {
   	text-decoration: none;
   	text-transform: uppercase;    
   	font-weight: bold;
   	font-size: 1.3em;
   	padding: 0 10px;
   	color: #fff;
   }

   

/* 2nd Half of Page*/


   .title {
    color: #3349ff; /*blue color*/
    font-family: 'Lato', sans-serif;
    font-size: 1.9em; 
    grid-column: 1/3;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;                
    text-transform: uppercase;  
   }

   .article {
    color: #696969;    
    line-height: 25px;
    font-size: 1em;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
   }

   .owners {
    display: block;
    margin: 0 auto;
   }


/* 3 Divs Menu, Reviews, Contact */

   .menu_item_one, .menu_item_two, .menu_item_three, .menu_item_four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
  }

    .shake_one, .shake_two, .shake_three, .shake_four{
      background-repeat: no-repeat; 
      max-width: 25%;
      height: auto;
      display: block;
      margin: 0 auto;
      padding-bottom: 30px;
  }

    .menu_item_one span, .menu_item_two span, .menu_item_three span, .menu_item_four span {
      color: #3349ff; /*blue color*/
      font-family: 'Lato', sans-serif;
      font-size: 1.5em;
    } 
    


   .reviews {
    color: #696969;
    font-size: 1em;
    line-height: 30px;
  }

   .review_set_one, .review_set_two {    
    padding: 20px 0 20px 0;
    margin: 0 auto;
    width: 60%;
   }


   .contact {
    color: #696969;
    font-size: 1em;
    grid-column: 1/3;
    line-height: 30px;
    margin: 0 auto;
    padding: 20px 0 40px 0; 
    text-align: center;  
   }

   /*.arrow {
    position: fixed;
    bottom: 8px;
    right: 20px;
    z-index: 1;
   }*/

   #home_button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #3349ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }







   /*Footer*/


   footer {
    border-top: 3px solid #eee;
    grid-column: 1/3;
   	margin: 0 auto;
   	text-align: center;
   }

   footer span {
   	font-family: "Wisdom Script", script;
   	text-transform: lowercase;
   	color: #C5BD99;
   	font-size: .88em;
   }


   @media screen and (min-width: 550px) {

    .topnav {
      display: none;
    }
}


   @media screen and (max-width: 550px) {

      .container {
        display: flex;
        flex-direction: column;
      }
      
      .masthead_img {
        display: none;
      }

      .masthead_mobile {
        display: initial;
        width: 550px;
      }

      header {
        display: none;
      }

    .mobile-container {
      float: right;
      left: 0px;
      top: 0px; 
      z-index: 99;
      max-width: 550px;
      height: 100%;
      background-color: #fff;
      color: white;
      border-radius: 10px;
    }

    .topnav {
      
      overflow: hidden;
      background-color: transparent;
      position: relative;      
    }

    .topnav #nav {
      display: none;
    }

    .topnav a {
      color: #3349ff;      
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      text-align: center;
    }

    .topnav a.icon {
      background: #fff;
      border: solid 3px #3349ff;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    #nav a:hover {
      background-color: #ddd;
      color: #3349ff;
    }

    .active {
      background-color: transparent;
      color: #3349ff;
      height: 55px;
    }


        /*header {
          position: absolute; 
          left: 0px;
          top: 10px; 
          z-index: 0;
        }*/

        /*header nav a {
          font-size: 1em;
        }*/

      .masthead {
        position: relative;
      }
      .logo {
        width: 40%;
        left: 50%;
        margin-left: -100px;
        position: absolute;
        top: 50px;
        z-index: 1;
      }

      .contact { 
        margin: 0 40px 40px 40px;
        padding: 0px;
      }

      .title {
        padding: 40px 20px 20px 20px;
      }
              
}
   




  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
       /* Mobile styles here */



   

   }
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
