/* Colors
#4fd2df; Bright Teal
#365f4c; Dark Blue Grey
#808080; Dark Grey
#6fc5d6; Light Teal
#fafafa; Off White
#681f6c; Purple 
*/

/* Color Scheme
#0d505a; Dark Teal
#106470; Medium Teal
#1aa03b; Bright Teal
#9d168c; Dark Purple
#b31aa0; Light Purple
*/

.contact-bod, .about-bod {
	background-image: url('../img/tablet-short.jpg');
	background-repeat: no-repeat;
	background-position: top;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

.bgimage-home {
	background-image: url('../img/tablet.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

p, nav {
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-family: 'Croissant One', cursive;
}

/* Nav Bar */


.navbar-default {
	background-color: transparent;
 	border: none;
  	margin-bottom: 0px;
}
.navbar-toggle {
	background-color: transparent;
	border: none;
	color: transparent;
}

.navbar-default .navbar-brand {
color: #fff;
font-size: 2.5em;
}

.navbar-default .navbar-brand a:hover {
	color: #fff;
}
.navbar-default .navbar-nav {
font-size: 1.3em;
font-weight: 500;
}	
	.navbar-default .navbar-nav > li > a:hover {
		color: #808080; /* Dark Grey */
	}




/* Dropdown */

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}

.navbar-default .navbar-collapse > ul {
	text-align: center;
}


	/* Nav Link Color */


.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 rga(255,255, 255, .25);
}
	/***Link Color Hover Statr***/


	/***Link Background and Color Active State***/



	/* Hero Area */
.outer {
	display: table;
	position: relative;
	height: 100vh;
	width: 100%;
}
.inner {
	color: #fff;
	display: block;
	display: table-cell;
	height: 520px;
	margin: none;
	padding-top: 80px;
	vertical-align: middle;
}
.inner-2 {
	display: table-row;
	height: 100px;
	margin: none;
	vertical-align: middle;
}


.group {
	display: block;
	text-align: center;
}
.group-2 {
	text-align: center;
}

.name {
	font-family: 'Croissant One', cursive;
}
.central {
	font-size: 65px;
}

.last-name, .job {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.fa {
	color: #fff;
	display: block;
	font: 5rem;
	padding-top: px;
}
.fa a:hover {
	text-decoration: none;
}



/*Portfolio*/
.port-header {
	padding: 40px 0;
}
.port-name {
	color: #9d168c; /* Dark Purple */
}
.img-responsive {
		max-width: 200px;
		min-width: 120px;

	}


/*About */

.about-section {
	background-color: #fff;
	margin-top: 50px;
}
.portrait {
	max-width: 350px;
	min-width: 300px;
	animation-name: move;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	animation-direction: alternate;
}

@keyframes move{
	0%{transform: translateX(0);}
	100%{transform: translateX(70px);}
}

.about-col-edits {
	padding-top: 80px;
}
.aboutme {
	color: #9d168c; /* Dark Purple*/
}
.about-skills {
	color: #9d168c; /* Dark Purple */
	font-size: 1.3em;
	font-weight: 700;
}


/* Contact */
.container-fluid {
	padding: 0;
}
.chat-greet {
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 55px;
}
	.chat-greet p {
		background-color: #fff;
		color: #0d505a; /* Dark Teal */
		font-family: 'Croissant One', cursive;
		height: 150px;
		margin: 0;
		padding-top: 60px;
	}
.bg {
	background-color: #d1cfd1; /* Medium Grey */
}
/*.bg-bottom {
	background: linear-gradient(to bottom, #106470 0%, #1aa03b 100%);
}*/

.email-area {
	background-color: #fff;
	padding-bottom: 20px;
}
form {
	padding: 55px 0;
}

	/* Button Style */
.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-info.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}




/* Footer */

footer {
	border-top: 10px solid #1aa0b3; /* Light Teal*/
	margin-top: 50px;
	max-height: 68px;
	padding-bottom: 10px;
}
.about-footer {
	margin:0;
	padding: 0;
}
.contact-footer {
	margin: 0;
}

.footer-header {
	background-image: url('../img/footer-bg.jpg');
	background-repeat: none;
	background-position: center center;
	background-size: cover;
}
.footer-nav {
	display: inline;
}
.footer-nav a {
	font-family: 'Raleway', sans-serif;
}
.envelope-edit {
	color: #9d168c; /* Dark Purple */
}
	.envelope-edit-contact {
		color: #b31aa0; /*5c4677*/
	}
.icon-edit {
	color: #9d168c; /* Dark Purple */
	padding-top: 20px;
}

.foot > li > a {
	color: #0d505a; /* Dark Teal */
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
}
	.foot > li {
			list-style-type: none;
	}
	.foot > li > a:hover {
	color: #808080; /* Dark Grey */
	}
.envelope {
	text-decoration: none;
	margin-right: 10px;
}
.github {
	text-decoration: none;
	margin-right: 10px;
}
.twitter {
	text-decoration: none;
	margin-right: 10px;
}
.linkedin {
	text-decoration: none;
}
.icons a {
	display: inline-block;
}
.fa-github:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-envelope:hover {
	color: #808080; /* Dark Grey */
}
.fa-envelope {

}

/*Media Queries*/

@media (max-width: 767px) {
	.navbar-default .scroll {
	 background-color: #0d505a;
	    /* For WebKit (Safari, Chrome, etc) */
	    background: #0d505a -webkit-gradient(linear, left top, left bottom, from(#0d505a), to(#106470)) no-repeat;
	    /* Mozilla,Firefox/Gecko */
	    background: #0d505a -moz-linear-gradient(top, #0d505a, #106470) no-repeat;
	    /* IE 5.5 - 7 */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470) no-repeat;
	    /* IE 8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470)" no-repeat;

	}

	.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff; /*  */
	}

	.navbar-default .navbar-brand {
	color: #fff;
	font-size: 1.5em;
}

	.navbar-default .navbar-nav > li > a {
  	color: #fff;
  	text-shadow: 0 1px 0 rga(255,255, 255, .25);
}

	.pull-down {
	    background-color: #0d505a;
	    /* For WebKit (Safari, Chrome, etc) */
	    background: #0d505a -webkit-gradient(linear, left top, left bottom, from(#0d505a), to(#106470)) no-repeat;
	    /* Mozilla,Firefox/Gecko */
	    background: #0d505a -moz-linear-gradient(top, #0d505a, #106470) no-repeat;
	    /* IE 5.5 - 7 */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470) no-repeat;
	    /* IE 8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470)" no-repeat;
}
	.space {		
		padding: 10px 0;
	}

	/* About Me */






}


@media (max-width: 1023px) {



}




@media (max-width: 1200px) {
	
	.about-col-edits {
		padding-bottom: 30px;
	}


}

