/* Colors
#4fd2df; Bright Teal
#365f4c; Dark Blue Grey
#808080; Dark Grey
#6fc5d6; Light Teal
#fafafa; Off White
#681f6c; Purple
*/

/* Color Scheme
#0d505a; Dark Teal
#106470; Medium Teal
#1aa03b; Bright Teal
#9d168c; Dark Purple
#b31aa0; Light Purple
*/


html {
	font-size: 16px;
}


.about-bod {
	background-image: url('../img/tablet-long.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 50px cover;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}
.contact-bod {
	background-image: url('../img/tablet-long.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-size: 50px cover;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
}

.bgimage-home {
	background-image: url('../img/tablet.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

p, nav, {
	font-family: 'Raleway', sans-serif;
}

h1, h2 {
	font-family: 'Croissant One', cursive;
}




/* Nav Bar */


.navbar-default {
	background-color: transparent;
 	border: none;
  	margin-bottom: 0px;
}
.navbar-toggle {
	background-color: transparent;
	border: none;
	color: transparent;
}

.navbar-default .navbar-brand {
color: #fff;
font-size: 2.5em;
}

.navbar-default .navbar-brand a:hover {
	color: #fff;
}
.navbar-default .navbar-nav {
font-size: 1.3em;
font-weight: 500;
}
	.navbar-default .navbar-nav > li > a:hover {
		color: #808080; /* Dark Grey */
	}

.navbar-default .leaf {
	padding-top: 10px;

}

.navbar-brand>img {
    display: inline;
    margin-left: 0;
    padding-right: 5px;
}

/* Dropdown */

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}

.navbar-default .navbar-collapse > ul {
	text-align: center;
}


	/* Nav Link Color */


.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 rga(255,255, 255, .25);
}
	/***Link Color Hover Statr***/


	/***Link Background and Color Active State***/



	/* Hero Area */
.outer {
	display: table;
	position: relative;
	width: 100%;
}
.inner {
	color: #fff;
	display: block;
	display: table-cell;
	height: 520px;
	margin: none;
	padding-top: 80px;
	vertical-align: middle;
}
.inner-2 {
	display: table-row;
	height: 100px;
	margin: none;
	vertical-align: middle;
}


.group {
	display: block;
	text-align: center;
}
.group-2 {
	text-align: center;
}

.logo_name {
	font-family: 'Croissant One', cursive;
}

.central {
	font-size: 65px;
}

.tag-line, .job {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.fa {
	color: #fff;
	display: block;
	font: 5rem;
	padding-top: px;
}
.fa a:hover {
	text-decoration: none;
}



/*Portfolio*/
.port-header {
	padding: 40px 0;
}

.port-name {
	color: #9d168c; /* Dark Purple */
}

#port-name a {
	color: #9d168c; /* Dark Purple */
	text-decoration: none;
}
	#port-name a:hover {
		color: #808080; /* Dark Grey */
		text-decoration: none;
	}
	#port-name a:visited {
		color: #9d168c; /* Dark Purple */
		text-decoration: none;
	}
.container-work {
	padding-left: 0px;
	text-align: justify;
}

.effects:hover .overlay {
	opacity: 1;
}


.size {
	display: inline-block;
	margin: 10px 10px;
}
	.size a {
		color: #fff;
		font-size: 1.3em;
		text-decoration: none;
	}

.stretch {
	width: 100%;
    display: inline-block;
}


.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
  	text-align: center;
  	height: 200px;
  	width: 200px;

}

.overlay {
 	align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 200px;
    left: 0;
    opacity: 0;
    position: relative;
    right: 0;
    top: 0;
	transition: .5s ease;
	background-color: rgba(0,0,0,.85);
	width: 200px;
	z-index: 10;
}

.work-img {
	border-radius: 100%;
  	display: flex;
  	flex: 0 0 200px;
  	height: 200px;
  	justify-content: center;
  	max-width: 200px;
  	overflow: hidden;
  	position: absolute;
  	width: 200px;
}

.alona_image_space, .alona_description_space {
	padding: 30px 0px;
}



/*About */

.about-section {
	background-color: #fff;
	margin-top: 50px;
}

.about_line_height {
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.portrait {
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 30px;
	animation-name: move;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	animation-direction: alternate;
}

.about-header {
	color: #808080;
    font-size: 5em;
    position: absolute;
    left: 200px;
    top: 400px;
}

.about-title {
	color: #9d168c; /* Dark Purple*/
	font-size: 2em;
	position: absolute;
	left: 200px;
	top: 480px;
}

@keyframes move{
	0%{transform: translateX(0);}
	100%{transform: translateX(70px);}
}

.about-col-edits {
	padding: 20px 0px 50px 0px;
}
.aboutme, #port-name {
	color: #9d168c; /* Dark Purple*/
}

.aboutme {
	padding-top: 30px;
}
.about-skills, .port-skills {
	color: #9d168c; /* Dark Purple */
	font-size: 1.3em;
	font-weight: 700;
}

.about_inline_list, .about_skills_list {
	display: inline-block;
}

.about_inline_list {
	padding-left: 10%;
}


/* Contact */
.container-fluid {
	padding: 0;
}



.chat-greet .logo_name{
	background-color: #fff;
	font-size: 4em;
	margin-bottom: 0;
	margin-top: 55px;
}
	.chat-greet .logo_name {
		background-color: #fff;
		color: #0d505a; /* Dark Teal */
		font-family: 'Croissant One', cursive;
		margin-bottom: -20px;
		padding-top: 60px;
	}

.success_greeting {
	color: #0d505a; /*Dark Teal*/
	font-family: 'Croissant One', cursive;
	font-size: 4em;
	font-weight: 700;

}
	.success_greeting_second {
		font-size: 40px.;
	}

.success_container_padding, .error_container_padding {
	padding-top: 40px;
}
.error_greeting {
	font-size: 42px;
	font-weight: 500;
}


.bg {
	background-color: #d1cfd1; /* Medium Grey */
}

.contact_page_height {

}

.email-area {
	background-color: #fff;
	padding-bottom: 20px;
}
form {
	padding: 55px 0;
}



	/* Button Style */
.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-info.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

/* Portfolio Page Description*/

	/* Mocha */

.alona_line_height, .mocha_line_height, .newsletter_line_height, .curlytales_line_height {
		line-height: 1.5em;
    font-size: 1.3em;
		font-weight: lighter;
}

button.button_mocha {
	background-color: #0d505a; /*Dark Teal*/
	border-radius: 8%;
	border: none;
	width: 200px;
}
	.mocha-description a:link, .mocha-description a:visited {
		color: #fff;
		text-decoration: none;
	}

	/* Breadcrumb */

ul.breadcrumb_margin {
    margin-top: 100px;
    margin-bottom: 0px;
    padding-left: 10%;
}

ul.breadcrumb_display li {
    display: inline;
    font-size: 18px;
}


/* Slash symbol */
ul.breadcrumb_slash li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


	/* Links */

ul.breadcrumb_link li a:link {
    color: blue;
    text-decoration: underline;
}

ul.breadcrumb_link li a:visited {
    color: purple;
    text-decoration: underline;
}

ul.breadcrumb_link li a:hover {
    color: red;
    text-decoration: underline;
}
ul.breadcrumb_link li a:active {
    color: green;
    text-decoration: underline;
}




/* Footer */

footer {
	border-top: 10px solid #1aa0b3; /* Light Teal*/
	margin-top: 50px;
	max-height: 68px;
	padding-bottom: 10px;
}
.about-footer {
	margin:0;
	padding: 0;
}
.contact-footer {
	margin: 0;
}


.footer-nav {
	background-color: #fff;
	display: inline;
}
.footer-nav a {
	font-family: 'Raleway', sans-serif;
}
.envelope-edit {
	color: #9d168c; /* Dark Purple */
}
	.envelope-edit-contact {
		color: #b31aa0; /*5c4677*/
	}
.icon-edit {
	color: #9d168c; /* Dark Purple */
	padding-top: 20px;
}

.foot > li > a {
	color: #0d505a; /* Dark Teal */
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
}
	.foot > li {
			list-style-type: none;
	}
	.foot > li > a:hover {
	color: #808080; /* Dark Grey */
	}
.envelope {
	text-decoration: none;
	margin-right: 10px;
}
.github {
	text-decoration: none;
	margin-right: 10px;
}
.twitter {
	text-decoration: none;
	margin-right: 10px;
}
.linkedin {
	text-decoration: none;
}
.icons a {
	display: inline-block;
}
.fa-github:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-envelope:hover {
	color: #808080; /* Dark Grey */
}
.fa-envelope {

}

/*Media Queries*/

@media (max-width: 767px) {
	.navbar-default .scroll {
	 background-color: #0d505a;
	    /* For WebKit (Safari, Chrome, etc) */
	    background: #0d505a -webkit-gradient(linear, left top, left bottom, from(#0d505a), to(#106470)) no-repeat;
	    /* Mozilla,Firefox/Gecko */
	    background: #0d505a -moz-linear-gradient(top, #0d505a, #106470) no-repeat;
	    /* IE 5.5 - 7 */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470) no-repeat;
	    /* IE 8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470)" no-repeat;

	}

	.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff; /*  */
	}

	.navbar-default .navbar-brand {
	color: #fff;
	font-size: 1.5em;
}

	.navbar-default .navbar-nav > li > a {
  	color: #fff;
  	text-shadow: 0 1px 0 rga(255,255, 255, .25);
}

	.pull-down {
	    background-color: #0d505a;
	    /* For WebKit (Safari, Chrome, etc) */
	    background: #0d505a -webkit-gradient(linear, left top, left bottom, from(#0d505a), to(#106470)) no-repeat;
	    /* Mozilla,Firefox/Gecko */
	    background: #0d505a -moz-linear-gradient(top, #0d505a, #106470) no-repeat;
	    /* IE 5.5 - 7 */
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470) no-repeat;
	    /* IE 8 */
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#0d505a, endColorstr=#106470)" no-repeat;
}

.container-work {
	position: initial;
	left: 50%;
	max-width:200px;
	padding-left: 0px;
	width: 200px;
}

	/* About Me */






}


@media (max-width: 1024px) {



}




@media (max-width: 1200px) {

.portrait {
	max-height: 400px;
	min-height: 400px;
	max-width: 300px;
	min-width: 300px;
	padding-bottom: 30px;
	animation-name: move;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	animation-direction: alternate;
}

.about-header {
	color: #808080;
    font-size: 3em;
    position: absolute;
    left: 250px;
    top: 200px;
}

.about-title {
	color: #9d168c; /* Dark Purple*/
	font-size: 1.5em;
	position: absolute;
	left: 240px;
	top: 250px;
}

}


@media (max-width: 768px) {

.about-header {
	color: #808080;
    font-size: 3em;
    position: absolute;
    left: 15%;
    top: 50%;
}

.about-title {
	color: #9d168c; /* Dark Purple*/
	font-size: 1.5em;
	position: absolute;
	left: 15%;
	top: 60%;
}
}


@media (max-width: 425px) {

.about-header {
	background: rgba(255,255,255,0.7);
	border-radius: 5%;
	color: #9d168c; /* dark purple */
    font-size: 3em;
    position: absolute;
    left: 56%;
    top: 70%;
}

.about-title {
	background: rgba(255,255,255,0.6);
	color: #000;
	font-size: 1.5em;
	position: absolute;
	left: 50%;
	top: 82%;
}

.about_transparency {
	background: rgba(255,255,255,.8);
	border-radius: 5%;
}

}
